p {
	color: rgb(2, 2, 206);
	font-family: sans-serif;
	text-shadow: -1px 0 #009432, 0 1px #009432, 1px 0 #009432, 0 -1px #009432;
	display: flex;
	justify-content: center;
}

@media (max-width: 425px) {
	p {
		font-size: 12px;
	}
@media (max-width: 320px) {
	p {
		font-size: 11px;
	}
