.TodoCounter {
	font-size: 24px;
	text-align: center;
	margin: 0;
	padding: 48px;
	color: blue;
}

.TodoCounter--loading {
  opacity: 25%;
}

@media (max-width: 425px) {
	.TodoCounter {
		font-size:large;
	}
@media (max-width: 320px) {
	.TodoCounter {
		font-size: 13px;
	}