a {
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	margin: 0 20px;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #0539c9;
	justify-items: center;
}
.icon {
	font-size: 18px;
	margin-bottom: 5px;
	color: #7ae29d;
	margin: auto 0;
	margin-right: 5px;
}
.Footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50px;
	width: 100%;
	background-color: rgb(227, 250, 255);
	border-radius: 50px 50px 0 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
}


@media (max-width: 425px) {
	a {
		font-size: 9px;
	}
}

@media (max-width: 320px) {
	.Footer {
		height: 40px;
	}
	.Footer:nth-last-child() {
		margin: auto;
	}
	a {
		font-size: 8px;
		margin: 0 0;
	}

	.icon {
		font-size: 14px;
	}
}
